.bg01 {
  min-height: 100vh;
  background-image: url(../images/bg01.jpg);
  background-size: cover;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index .div-main {
  width: 40rem;
}

.btn {
  margin: 0.5rem;
}
