<div class="index h100" ng-controller="IndexCtrl">
  <div class="div-main">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="text-center">员工考勤管理系统</h3>
      </div>

      <div class="panel-body">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="请输入用户名">
          <input class="form-control" type="password" placeholder="请输入密码">
        </div>
      </div>

      <div class="panel-footer">
        <div class="text-center">
          <button class="btn btn-parimary">登录</button>
          <button class="btn btn-danger">重填</button>
        </div>
      </div>

    </div>

  </div>
</div>