/AttenDanceSystem/.classpath
/AttenDanceSystem/.project
/AttenDanceSystem/.gradle
/AttenDanceSystem/.settings
/AttenDanceSystem/bin
/AttenDanceSystem/logs
/AttenDanceSystemStatic/nginx/temp
/AttenDanceSystemStatic/nginx/logs
/AttenDanceSystemStatic/node_modules
/AttenDanceSystemStatic/dist
