<div class="body bg01" ng-controller="MainCtrl">

  <div class="btns">
    <div class="userinfo">
      <i class="iconfont">&#xe600;</i>
      <span ng-bind="tbAdmin.name"></span>
    </div>
    <span class="btn btn-primary" ng-click="logout();">登出</span>
  </div>


  <ul class="nav nav-tabs" role="tablist">
    <li ng-repeat="m in menus" role="presentation" ng-class="{true:'active'}[m.page==selectMenu.page]">
      <a href="javascript:void(0);" ng-click="changeMenu(m)">{{m.text}}</a>
    </li>
  </ul>

  <div class="include">
    <div ng-if="inc" ng-include="inc"></div>
  </div>

</div>