<div class="bg01" ng-controller="UserinfoCtrl">
  <div>
    <table class="table">
      <thead>
        <tr class="bg-primary">

          <td>用户名</td>
          <td>员工姓名</td>
          <td>电话</td>
          <td>入职信息</td>
          <td>部门</td>
          
        </tr>
      </thead>
      <tr>

        <td><span ng-bind="tbAdmin.userName"></span></td>
        <td><span ng-bind="tbAdmin.name"></span></td>
        <td><span ng-bind="tbAdmin.tel"></span></td>
        <td><span ng-bind="tbAdmin.inductionInfo"></span></td>
        <td><span ng-bind="tbAdmin.dept"></span></td>
      </tr>
    </table>
  </div>
</div>